<nav class="nav">
  <ul class="nav-list">
    <!-- Dropdown bằng details/summary -->
    <li class="nav-item dropdown">
      <details class="dd" #dd >
        <summary class="dd-btn">Cases</summary>

        <!-- Panel xổ xuống, bạn tự thay nội dung -->
        <div class="dd-panel"  >
          <div class="col" *ngFor="let cat of products">
            <h4>{{cat.title}}</h4>
            <a href="#" (click)="dd.open=false;layId(p.id)" *ngFor="let p of cat.product" [attr.data-id]="p.id">{{p.name}}</a>
           
          </div>
         
        </div>
      </details>
    </li>

    <!-- Các mục khác (không dropdown) -->
    <li class="nav-item"><a href="#" class="nav-link">Screen Protection</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Wearables</a></li>
    <li class="nav-item"><a href="#" class="nav-link">The Drop</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Power</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Accessories</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Customize</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Sale</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Explore</a></li>
  </ul>
</nav>
