<section class="brands">
  <h2 class="brands-title">Shop by brand</h2>

  <div class="brand-grid">
    <!-- Apple -->
    <a href="#" class="brand">
      <img src="https://www.otterbox.com/on/demandware.static/-/Sites-ob_us-Library/default/dwaf0345fa/2024_Files/logos_and_icons/OB_92239_Shop-Brands_Apple_130x130.png" alt="">
    </a>

    <!-- Samsung (wordmark đơn giản) -->
    <a href="#" class="brand">
      <div class="samsung">S<span class="lambda">Λ</span>MSUNG</div>
    </a>

    <!-- Google G -->
    <a href="#" class="brand">
     <img src="https://www.otterbox.com/on/demandware.static/-/Sites-ob_us-Library/default/dwa64dc89e/2024_Files/logos_and_icons/OB_92239_Shop-Brands_Google_130x130.png" alt="">
    </a>

    <!-- Motorola -->
    <a href="#" class="brand">
     <img src="https://www.otterbox.com/on/demandware.static/-/Sites-ob_us-Library/default/dw6b8472e3/2024_Files/logos_and_icons/OB_92239_Shop-Brands_Motorola_130x130.png" alt="">
    </a>
  </div>
</section>