<mat-sidenav-container class="shell" [class.is-handset]="isHandset$ | async">
  <!-- SIDEBAR -->
  <mat-sidenav
    #drawer
    class="app-sidenav"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    [autoFocus]="false"
  >
    <div class="logo">
  <button  class="back-btn-fixed" mat-stroked-button [routerLink]="['/']">Back To Home</button>
    </div>

    <mat-nav-list class="side-list">
      <div class="section-title">HOME</div>
      <a mat-list-item [class.active]="isActive[0]" (click)="activeHover(0)" [routerLink]="['dashboard']">
        <mat-icon matListItemIcon class="li-ic">home</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <div class="section-title">UI COMPONENTS</div>
      <a mat-list-item [class.active]="isActive[1]" (click)="activeHover(1)">
        <mat-icon matListItemIcon class="li-ic">inventory</mat-icon>
        <span matListItemTitle>Product</span>
      </a>
      <a mat-list-item [routerLink]="['addProduct']" [class.active]="isActive[2]" (click)="activeHover(2)">
        <mat-icon matListItemIcon class="li-ic">add_box</mat-icon>
        <span matListItemTitle>Add New Product</span>
      </a>
      <a mat-list-item [class.active]="isActive[3]" (click)="activeHover(3)">
        <mat-icon matListItemIcon class="li-ic">smart_button</mat-icon>
        <span matListItemTitle>Button</span>
      </a>

      <a mat-list-item [class.active]="isActive[4]" (click)="activeHover(4)">
        <mat-icon matListItemIcon class="li-ic">table_chart</mat-icon>
        <span matListItemTitle>Table</span>
      </a>

      <a mat-list-item [class.active]="isActive[5]" (click)="activeHover(5)">
        <mat-icon matListItemIcon class="li-ic">list</mat-icon>
        <span matListItemTitle>List</span>
      </a>

      <a mat-list-item [class.active]="isActive[6]" (click)="activeHover(6)">
        <mat-icon matListItemIcon class="li-ic">account_tree</mat-icon>
        <span matListItemTitle>Tree</span>
      </a>

      <a mat-list-item [class.active]="isActive[7]" (click)="activeHover(7)">
        <mat-icon matListItemIcon class="li-ic">dashboard_customize</mat-icon>
        <span matListItemTitle>Panel</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- CONTENT -->
  <mat-sidenav-content>
    <!-- TOPBAR: nút 3 gạch nằm ở đây và điều khiển được drawer -->
    <mat-toolbar color="primary" class="topbar" role="banner">
      <button
        mat-icon-button
        aria-label="Toggle menu"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="flex-1"></span>

      <button mat-icon-button matTooltip="Theme">
        <mat-icon>dark_mode</mat-icon>
      </button>
      <button
        mat-icon-button
        matBadge="3"
        matBadgeColor="warn"
        aria-label="Cart"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button
        mat-icon-button
        matBadge="5"
        matBadgeColor="warn"
        aria-label="Notifications"
      >
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button aria-label="Account">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Slot nhận nội dung của nhóm Dashboard -->
    <ng-content></ng-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
