<mat-sidenav-container class="shell" [class.is-handset]="isHandset$ | async">
  <!-- SIDEBAR -->
  <mat-sidenav
    #drawer
    class="app-sidenav"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    [autoFocus]="false"
  >
    <div class="logo">
      <div class="mark"></div>
      <div class="brand">SAKAI</div>
    </div>

    <mat-nav-list class="side-list">
      <div class="section-title">HOME</div>
      <a mat-list-item class="active" [routerLink]="['/dashboard']">
        <mat-icon class="li-ic">home</mat-icon>
        <span>Dashboard</span>
      </a>

      <div class="section-title">UI COMPONENTS</div>
      <a mat-list-item
        ><mat-icon class="li-ic">format_align_left</mat-icon
        ><span>Form Layout</span></a
      >
      <a mat-list-item
        ><mat-icon class="li-ic">text_fields</mat-icon><span>Input</span></a
      >
      <a mat-list-item
        ><mat-icon class="li-ic">smart_button</mat-icon><span>Button</span></a
      >
      <a mat-list-item
        ><mat-icon class="li-ic">table_chart</mat-icon><span>Table</span></a
      >
      <a mat-list-item
        ><mat-icon class="li-ic">list</mat-icon><span>List</span></a
      >
      <a mat-list-item
        ><mat-icon class="li-ic">account_tree</mat-icon><span>Tree</span></a
      >
      <a mat-list-item
        ><mat-icon class="li-ic">dashboard_customize</mat-icon
        ><span>Panel</span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <!-- CONTENT -->
  <mat-sidenav-content>
    <!-- TOPBAR: nút 3 gạch nằm ở đây và điều khiển được drawer -->
    <mat-toolbar color="primary" class="topbar" role="banner">
      <button
        mat-icon-button
        aria-label="Toggle menu"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="flex-1"></span>

      <button mat-icon-button matTooltip="Theme">
        <mat-icon>dark_mode</mat-icon>
      </button>
      <button
        mat-icon-button
        matBadge="3"
        matBadgeColor="warn"
        aria-label="Cart"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button
        mat-icon-button
        matBadge="5"
        matBadgeColor="warn"
        aria-label="Notifications"
      >
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button aria-label="Account">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Slot nhận nội dung của nhóm Dashboard -->
    <ng-content></ng-content>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
