<div class="ob-tiles">
   <a class="ob-tile" href="#">
    <img
      src="https://www.otterbox.com/dw/image/v2/BGMS_PRD/on/demandware.static/-/Sites-ob_us-Library/default/dwaa438e0f/2024_Files/homepage_tiles/OB_92239_OB-HmPg-Refresh_BrandMods-About_860x860.jpg"
      alt="We are OtterBox"
      class="ob-tile__img"
    />
    <div class="ob-tile__overlay"></div>
    <div class="ob-tile__content">
      <h2 class="ob-tile__title">We are OtterBox</h2>
      <p class="ob-tile__desc">
        Since 1998 OtterBox has grown from our founder's garage in Colorado into
        a family-led, global brand synonymous with quality. Get to know the Otters.
      </p>
      <button class="ob-btn">Learn More</button>
    </div>
  </a>

  <!-- Tile 2 -->
  <a class="ob-tile" href="#">
    <img
      src="https://www.otterbox.com/dw/image/v2/BGMS_PRD/on/demandware.static/-/Sites-ob_us-Library/default/dw60f830b1/2024_Files/homepage_tiles/OB_92239_OB-HmPg-Refresh_BrandMods-GivingBack_860x860.jpg"
      alt="Altruistic Otters"
      class="ob-tile__img"
    />
    <div class="ob-tile__overlay"></div>
    <div class="ob-tile__content">
      <h2 class="ob-tile__title">Altruistic Otters</h2>
      <p class="ob-tile__desc">
        Through philanthropic efforts such as closed2open and OtterCares, our
        success as a company is measured by our ability to give back.
      </p>
      <button class="ob-btn">Giving Back</button>
    </div>
  </a>
  <section class="ob-benefits-wrap">
    <div class="ob-benefits">
      <div class="ob-benefit">
        <mat-icon class="ob-ico" fontSet="material-icons-outlined"
          >phone_iphone</mat-icon
        >
        <div class="ob-benefit__text">
          <strong>MOST TRUSTED</strong>
          <small>Smartphone Case Brand in the U.S.</small>
        </div>
      </div>

      <div class="ob-benefit">
        <mat-icon class="ob-ico" fontSet="material-icons-outlined"
          >local_shipping</mat-icon
        >
        <div class="ob-benefit__text">
          <strong>FREE 2-DAY SHIPPING</strong>
          <small>On orders over $50 within the U.S.</small>
        </div>
      </div>

      <div class="ob-benefit">
        <mat-icon class="ob-ico" fontSet="material-icons-outlined"
          >shopping_cart_checkout</mat-icon
        >
        <div class="ob-benefit__text">
          <strong>EXPRESS</strong><span> CHECKOUT</span>
        </div>
      </div>

      <div class="ob-benefit">
        <mat-icon class="ob-ico" fontSet="material-icons-outlined"
          >verified_user</mat-icon
        >
        <div class="ob-benefit__text">
          <strong>LIMITED</strong><span> WARRANTY</span>
        </div>
      </div>
    </div>
  </section>
</div>
